# Directorios y archivos generados por Composer y NPM
/vendor
/node_modules

# Archivos generados por Laravel
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs

# Archivos de entorno y configuración sensibles
.env
.env.*.backup

# Cachés y resultados de tests
.phpunit.result.cache
.php_cs.cache

# Archivos de configuración local de IDEs
/.idea
/.vscode
*.swp
*~

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros archivos generados
npm-debug.log*
yarn-debug.log*
yarn-error.log*
